<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div{
            border: 1px solid black;
            width: 200px;
            height: 500px;
        }

        .nav{
            position: fixed;
            top: 0;
            left: 0;
        }
    </style>
</head>
<body>
<nav class="nav">
    <a href="#div1">div1</a>
    <a href="#div2">div2</a>
    <a href="#div3">div3</a>
    <a href="#div4">div4</a>
    <a href="#div9">div9</a>
</nav>

<div id="div1">div1</div>
<div id="div2">div2</div>
<div id="div3">div3</div>
<div id="div4">div4</div>
<div id="div5">div5</div>
<div id="div6">div6</div>
<div id="div7">div7</div>
<div id="div8">div8</div>
<div id="div9">div9</div>

<script>

</script>
</body>
</html>